<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="gotoProduct()">
   Create Dashboard 
  </ion-button>
  <div class="content" *ngIf="!isLoading && dashBoardList && dashBoardList.length>0">    
    <ion-item class="product-item" *ngFor="let item of dashBoardList">
      <ion-label>
        <h3>{{item.name}}</h3>
      </ion-label>
      <ion-button slot="end" (click)="viewDetails(item)">View</ion-button>
    </ion-item>
  </div>
  <div class="loading" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <div class="no-item" *ngIf="!isLoading && (!dashBoardList || !(dashBoardList && dashBoardList.length>0))">
    No prodcts found!
  </div>
</ion-content>
